* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
}

body {
    min-height: 100vh;
    background-image: url("../images/mp5.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor{
    margin: 0 auto;
    text-align: center;
}


/* =========================
   FECHA / CONTENIDO
========================= */

.contenedor-fecha {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}


/* =========================
   15
========================= */

.quinse {
    font-family:
        Cambria,
        Cochin,
        Georgia,
        Times,
        'Times New Roman',
        serif;

    font-size: clamp(70px, 20vw, 85px);
    color: #D4AF37;
    text-align: center;
}


/* =========================
   TÍTULO
========================= */

.titulo{
    font-family: 'cursive';
    font-size: clamp(20px, 5vw, 30px);
    margin-top: -65px;
    text-align: center;
    
}

.titulos{
    font-family: handwritten;
    font-style: italic;
    font-size: 35px;
    color: #D4AF37;
}


.nombre{
    padding-top: 20px;
    font-size: cursive;
    color:white;
    font-size: 35px;
}

.puntos1{
    font-size: 40px;
    color: #D4AF37;
}

.fecha_hora{
    font-size: 30px;
    color: white;
}

.puntos2{
    font-size: 40px;
    color: #D4AF37;
}

.itinerario{
    margin-top: 30px;
    font-size: 25px;
    color: white;
}

.familiares{
    display: inline-flex;
}

.fam >.nombre{
    font-size: 20px;
}

.descripcion{
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
    color: white;
}


